.navbar-inverse .navbar-brand {
  color: white;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
}

.page-wrapper {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  background: white url("/static/images/city-wallpaper-11.jpg") no-repeat;
  background-size: 100%;
}

.vertical-align {
  position: relative;
  top: 30%;
  -webkit-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  transform: translateY(-30%);
}

form label {
  visibility: hidden;
  height: 2px;
}

.form-wrapper {
  margin: 0 auto;
  background: white;
  padding: 1%;
  width: 45%;
}

.wrapper {
  margin: 0 auto;
  background: white;
  padding: 2%;
  width: 35%;
}

.media img{
  border-radius: 50%;
  border: solid 1px black;
}

.tags {
  color: grey;
}

.athlete-header {
  background-color: #222;
  color: white;
  height: 40px;
  padding: 1%;
  margin-bottom: 1%;
}

.athlete-container {
  margin-bottom: 2%;
  border-bottom: solid 1px grey;
}

.detail-menu {
  margin: 1% 0;
}

.detail-menu a {
  padding: 2%;
}

.avatar img {
  border-radius: 5px;
<<<<<<< HEAD
<<<<<<< HEAD
  border: solid 1px grey;
=======
>>>>>>> 116c7383b8144c501956fdc5ffa05c5d19e672a4
=======
>>>>>>> 116c7383b8144c501956fdc5ffa05c5d19e672a4
}

.bio {
  padding: 30px;
}

/*Flip adapted from: http://jsfiddle.net/nicooprat/GDdtS/*/
.flip {
  -webkit-perspective: 800;
  width: 400px;
  height: 400px;
  position: relative;
  margin: 50px auto;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    text-align: center;

}
.flip .card .front {
  position: absolute;
  z-index: 1;
  background: white;
  cursor: pointer;
}
.flip .card .back {
  -webkit-transform: rotatey(-180deg);
    background: blue;
    background: white;
    color: black;
    cursor: pointer;
}