{% load staticfiles %}

<html><!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Athledeck</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/athledeck.css' %}">
   </head>
  <body>
    <div class="page-header">
      <h1>Athledeck</h1>
      <a href="{% url 'athledeck.views.new' %}"><span class="glyphicon glyphicon-plus">Add</span></a>
    </div>
    <div>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>