{% extends 'athletes/base.html' %}

{% block content %}
<div class="wrapper vertical-align">

{%if athletes %}
  {% for athlete in athletes %}
    <div class="athlete-container">
      <div class="athlete-header"><a href="{% url 'athledeck.views.show' pk=athlete.pk %}">{{athlete}}</a></div>
      <div class="details">
        <ul>
          <li><strong>Sport:</strong> {{athlete.sport}}</li>
          <li><strong>League:</strong> {{athlete.league}}</li>
          <li><strong>Team:</strong> {{athlete.team}}</li>
        </ul>
      </div>
    </div>
  {% endfor %}
{% else %}
  <strong>Sorry!</strong> There are no athletes to display.
{% endif %}
</div>

{% endblock %}

