{% extends 'athletes/base.html' %}

{% block content %}
<div class="wrapper vertical-align">

{%if athletes %}
  {% for athlete in athletes %}
    <div class="athlete-container">
      <div class="athlete-header"><a href="{% url 'athledeck.views.show' pk=athlete.pk %}">{{athlete}}</a></div>
    </div>
  {% endfor %}
{% else %}
  <strong>Sorry!</strong> There are no athletes to display.
{% endif %}

<!-- Pagination -->
<div class="pagination">
    <span class="step-links">
        {% if athletes.has_previous %}
            <a href="?page={{ athletes.previous_page_number }}"><span class="glyphicon glyphicon-chevron-left"></span></a>
        {% endif %}

        <span class="current">
            Page {{ athletes.number }} of {{ athletes.paginator.num_pages }}.
        </span>

        {% if athletes.has_next %}
            <a href="?page={{ athletes.next_page_number }}"><span class="glyphicon glyphicon-chevron-right"></span></a>
        {% endif %}
    </span>
</div>
</div>

{% endblock %}

